<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="AzureMySqlConnection"
			 connectionString="Server=cnpm.mysql.database.azure.com; Port=3306; Database=hotelmanagement; Uid=adminuser; Pwd=cnpm123#; SslMode=Required;"
			 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</configuration>